/* Definitions for MenubarDemo */

.gwt-MenuBar {
  background-color: #C3D9FF;
  border: 1px solid #87B3FF;
  cursor: default;
}

.gwt-MenuBar .gwt-MenuItem {
  padding: 1px 4px 1px 4px;
  font-size: smaller;
  cursor: default;
}

.gwt-MenuBar .gwt-MenuItem-selected {
  background-color: #E8EEF7;
}

/* Definitions for StackPanelDemo */

.gwt-StackPanel {
    border: 5px solid #999999;
    background-color: #CCCCCC;
    border-collapse: collapse;
}

.gwt-StackPanel .gwt-StackPanelItem {
    border: 2px solid #000099;
    background-color: #FFFFCC;
    cursor: pointer;
    font-weight: normal;
}

.gwt-StackPanel .gwt-StackPanelItem-selected {
    border: 3px solid #FF0000;
    background-color: #FFFF66;
    cursor: default;
    font-weight: bold;
}

/* Definitions for PopupPanelDemo */

.showcase-popup {
    background-color: white;
    border: 1px solid #87B3FF;
    padding: 4px;
    cursor: default;
}

/* Definitions for TabPanelDemo */

.gwt-TabPanel {
}

.gwt-TabPanelBottom {
  border: 1px solid #87B3FF;
}

.gwt-TabBar {
  background-color: #C3D9FF;
}

.gwt-TabBar .gwt-TabBarFirst {
  height: 100%;
  padding-left: 3px;
}

.gwt-TabBar .gwt-TabBarRest {
  padding-right: 3px;
}

.gwt-TabBar .gwt-TabBarItem {
  border-top: 1px solid #C3D9FF;
  border-bottom: 1px solid #C3D9FF;
  padding: 2px;
  cursor: pointer;
}

.gwt-TabBar .gwt-TabBarItem-selected {
  font-weight: bold;
  background-color: #E8EEF7;
  border-top: 1px solid #87B3FF;
  border-left: 1px solid #87B3FF;
  border-right: 1px solid #87B3FF;
  border-bottom: 1px solid #E8EEF7;
  padding: 2px;
  cursor: default;
}

/* Definitions for DialogBoxDemo */

.gwt-DialogBox {
  border: 2px outset;
  background-color: white;
}

.gwt-DialogBox .Caption {
  background-color: #C3D9FF;
  padding: 3px;
  margin: 2px;
  font-weight: bold;
  cursor: default;
}

.gwt-DialogBox .Contents {
    padding: 10px;
}
