<html>
<head>
<title>View song {{song_name}}</title>
</head>

<body>
<h3>{{song_name}}</h3>

<a href="{{ prev_url }}">Previous</a>
<a href="{{ next_url }}">Next</a>


{% for line1, line2 in song_lines %}
    <!-- for each <chord, lyrics> line -->

    {% if not line2 %}
        <!-- Empty line -->
        <br>
    {% endif %}
    
    <table cellpadding=0 cellspacing=0>
    <!-- Chords for this line -->
    <tr>
    {% for chord in line1 %} <td align=center><small><small>{{ chord }}</small></small></td> {% endfor %}
    </tr>
    <!-- Lyrics for this line -->
    <tr>
    <div style="text-align:center;" id="lyrics">
    {% for char in line2 %}
        {% if char == " " %}<td>&nbsp;</td>{% else %}<td align=center>{{ char }}</td>{% endif %}
    {% endfor %}
    </div>
    </tr>
    </table>
    <!--end of line-->
{% endfor %}


</body>
</html>


