div.button {
 border: 1px solid gray;
 background: #EEE;
 cursor: pointer;
}
 
div.button:hover {
 background: #DDD;
}

div.togglebutton {
 border: 1px solid gray;
 background: #EEE;
 cursor: pointer;
}
 
div.togglebutton:hover {
 background: #DDD;
}

div.togglebutton-toggled {
 border: 1px solid gray;
 background: #AAA;
 cursor: pointer;
}

div.togglebutton-toggled:hover {
 background: #999;
}

div.checkbutton {
 cursor: pointer;
}

div.label {
}

div.menushell {
 background-color: #999;
}

div.menuitem:hover {
 background-color: #AAA;
}

div.scale {
    border: 1px solid gray;
    background: #E5E5E5;
    cursor: pointer;
}

div.scale-cursor {
    border: 1px solid gray;
    background: #EEE;
    cursor: pointer;
}

div.scale-cursor:hover {
    background: #DDD;
}

div.scrollbar {
    border: 1px solid gray;
    background: #E5E5E5;
    cursor: pointer;
}

div.scrollbar-cursor {
    border: 1px solid gray;
    background: #EEE;
    cursor: pointer;
}

div.scrollbar-cursor:hover {
    background: #DDD;
}

div.scrollbar-left-arrow {
    border: 1px solid gray;
    background: #EEE;
    cursor: pointer;
}

div.scrollbar-left-arrow:hover {
    background: #DDD;
}

div.scrollbar-right-arrow {
    border: 1px solid gray;
    background: #EEE;
    cursor: pointer;
}

div.scrollbar-right-arrow:hover {
    background: #DDD;
}

div.scrollbar-up-arrow {
    border: 1px solid gray;
    background: #EEE;
    cursor: pointer;
}

div.scrollbar-up-arrow:hover {
    background: #DDD;
}

div.scrollbar-down-arrow {
    border: 1px solid gray;
    background: #EEE;
    cursor: pointer;
}

div.scrollbar-down-arrow:hover {
    background: #DDD;
}
