.gwt-VerticalSlider {
    border:1px solid #aaaaaa;
    background-color:#eeeeee;
}

.gwt-VerticalSlider-focussed {
    border:1px solid #000000;
    background-color:#cccccc;
}

.gwt-InputControl {
    border:1px solid #aaaaaa;
    background-color:#eeeeee;
    width: 30px;
}

.gwt-InputControl-focussed {
    border:1px solid #000000;
    background-color:#cccccc;
}
